.top-performers-card .trezo-card-content .basic-table table tbody tr td, .top-performers-card .trezo-card-content .basic-table .table tbody tr td {
  padding-top: 17px;
  padding-bottom: 17px;
}
.top-performers-card .trezo-card-content .basic-table table tbody tr td:first-child, .top-performers-card .trezo-card-content .basic-table .table tbody tr td:first-child {
  padding-left: 0;
  border-left-width: 0;
}
.top-performers-card .trezo-card-content .basic-table table tbody tr td:last-child, .top-performers-card .trezo-card-content .basic-table .table tbody tr td:last-child {
  border-right-width: 0;
  padding-right: 0;
  text-align: end;
}
.top-performers-card .trezo-card-content .trezo-card-pagination {
  padding: 17px 0 0;
  border-radius: 0;
  border-width: 0;
}
.top-performers-card .trezo-card-content .trezo-card-pagination div ol, .top-performers-card .trezo-card-content .trezo-card-pagination div ul {
  margin-left: 10px;
}
.top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:first-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:first-child {
  border-right-width: 0;
  padding-left: 20px;
  padding-right: 0;
}
.top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:last-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:last-child {
  border-left-width: 0;
  padding-left: 0;
  padding-right: 20px;
}
.top-performers-card.component-rtl-enabled .trezo-card-content .trezo-card-pagination div ol, .top-performers-card.component-rtl-enabled .trezo-card-content .trezo-card-pagination div ul {
  margin-left: 0;
  margin-right: 10px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .top-performers-card .trezo-card-content .basic-table table tbody tr td, .top-performers-card .trezo-card-content .basic-table .table tbody tr td {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:first-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:first-child {
    padding-left: 17px;
  }
  .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:last-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:last-child {
    padding-right: 17px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:first-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:first-child {
    padding-left: 20px;
  }
  .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table table tbody tr td:last-child, .top-performers-card.component-rtl-enabled .trezo-card-content .basic-table .table tbody tr td:last-child {
    padding-right: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-performers-card .trezo-card-content .basic-table table tbody tr td, .top-performers-card .trezo-card-content .basic-table .table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .top-performers-card .trezo-card-content .basic-table table tbody tr td, .top-performers-card .trezo-card-content .basic-table .table tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Min width 1600px *//*# sourceMappingURL=top-performers.component.css.map */