.attachments-card .trezo-card-content ul li {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #F6F7F9;
}
.attachments-card .trezo-card-content ul li .icon {
  margin-right: 12px;
}
.attachments-card .trezo-card-content ul li .icon i {
  background-color: var(--whiteColor);
  color: var(--primaryColor);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  height: 40px;
  width: 40px;
}
.attachments-card .trezo-card-content ul li h6 {
  font-size: 14px;
  margin-bottom: 3px;
}
.attachments-card .trezo-card-content ul li .file-size {
  font-size: 13px;
}
.attachments-card .trezo-card-content ul li button {
  color: var(--primaryColor);
  font-size: 22px;
}
.attachments-card .trezo-card-content ul li:last-child {
  margin-bottom: 0;
}
.attachments-card.component-dark-theme .trezo-card-content ul li {
  background-color: #15203c;
}
.attachments-card.component-dark-theme .trezo-card-content ul li .icon i {
  background-color: #0C1427;
}
.attachments-card.component-rtl-enabled .trezo-card-content ul li .icon {
  margin-right: 0;
  margin-left: 12px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .attachments-card .trezo-card-content ul li {
    padding: 12px;
  }
  .attachments-card .trezo-card-content ul li .icon {
    margin-right: 10px;
  }
  .attachments-card .trezo-card-content ul li .icon i {
    line-height: 35px;
    font-size: 18px;
    height: 35px;
    width: 35px;
  }
  .attachments-card .trezo-card-content ul li h6 {
    font-size: 13px;
  }
  .attachments-card .trezo-card-content ul li .file-size {
    font-size: 12px;
  }
  .attachments-card .trezo-card-content ul li button {
    font-size: 18px;
  }
  .attachments-card.component-rtl-enabled .trezo-card-content ul li .icon {
    margin-right: 0;
    margin-left: 10px;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .attachments-card .trezo-card-content ul li {
    padding: 12px;
  }
  .attachments-card .trezo-card-content ul li .icon {
    margin-right: 10px;
  }
  .attachments-card .trezo-card-content ul li .icon i {
    line-height: 35px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .attachments-card .trezo-card-content ul li h6 {
    font-size: 13.5px;
  }
  .attachments-card .trezo-card-content ul li button {
    font-size: 20px;
  }
  .attachments-card.component-rtl-enabled .trezo-card-content ul li .icon {
    margin-right: 0;
    margin-left: 10px;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .attachments-card .trezo-card-content ul li {
    padding: 12px;
  }
  .attachments-card .trezo-card-content ul li .icon {
    margin-right: 10px;
  }
  .attachments-card .trezo-card-content ul li .icon i {
    line-height: 35px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .attachments-card .trezo-card-content ul li h6 {
    font-size: 13.5px;
  }
  .attachments-card .trezo-card-content ul li button {
    font-size: 20px;
  }
  .attachments-card.component-rtl-enabled .trezo-card-content ul li .icon {
    margin-right: 0;
    margin-left: 10px;
  }
}
/* Min width 1600px *//*# sourceMappingURL=attachments.component.css.map */