<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Multiple Y-Axis Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="chart">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [xaxis]="chartOptions.xaxis!"
                [markers]="chartOptions.markers!"
                [stroke]="chartOptions.stroke!"
                [yaxis]="chartOptions.yaxis!"
                [dataLabels]="chartOptions.dataLabels!"
                [title]="chartOptions.title!"
                [grid]="chartOptions.grid!"
                [fill]="chartOptions.fill!"
                [tooltip]="chartOptions.tooltip!"
                [legend]="chartOptions.legend!"
            ></apx-chart>
        </div>
    </div>
</div>