.edit-invoice-card .trezo-card-content .invoice-info {
  padding: 25px;
  min-height: 186px;
  margin-bottom: 25px;
  border: 1px solid var(--borderColor);
}
.edit-invoice-card .trezo-card-content .invoice-info div span {
  margin-bottom: 4px;
}
.edit-invoice-card .trezo-card-content .invoice-info div span.title {
  margin-bottom: 20px;
}
.edit-invoice-card .trezo-card-content .invoice-info div span:last-child {
  margin-bottom: 0;
}
.edit-invoice-card .trezo-card-content .invoice-info button {
  top: 25px;
  right: 25px;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 4px;
  position: absolute;
  color: var(--primaryColor);
  background-color: transparent;
  border: 1px dashed var(--primaryColor);
}
.edit-invoice-card .trezo-card-content .invoice-info button i {
  font-size: 18px;
  margin-right: 4px;
}
.edit-invoice-card .trezo-card-content .invoice-info button:hover {
  color: var(--whiteColor);
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
}
.edit-invoice-card .trezo-card-content .basic-table {
  margin-bottom: 25px;
}
.edit-invoice-card .trezo-card-content .basic-table .table tbody tr td .form-control, .edit-invoice-card .trezo-card-content .basic-table table tbody tr td .form-control {
  width: 200px;
}
.edit-invoice-card .trezo-card-content .basic-table .table tbody tr td.action button, .edit-invoice-card .trezo-card-content .basic-table table tbody tr td.action button {
  color: var(--dangerColor);
}
.edit-invoice-card .trezo-card-content .basic-table .table tbody tr td.action button i, .edit-invoice-card .trezo-card-content .basic-table table tbody tr td.action button i {
  font-size: 20px;
}
.edit-invoice-card .trezo-card-content .form-btn-box button {
  margin-left: 10px;
  margin-right: 10px;
}
.edit-invoice-card .trezo-card-content .form-btn-box button:first-child {
  margin-left: 0;
}
.edit-invoice-card.component-rtl-enabled .trezo-card-content .invoice-info button {
  right: auto;
  left: 25px;
}
.edit-invoice-card.component-rtl-enabled .trezo-card-content .invoice-info button i {
  margin-right: 0;
  margin-left: 4px;
}
.edit-invoice-card.component-rtl-enabled .trezo-card-content .form-btn-box button {
  margin-left: 10px;
  margin-right: 10px;
}
.edit-invoice-card.component-rtl-enabled .trezo-card-content .form-btn-box button:first-child {
  margin-left: 10px;
  margin-right: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .edit-invoice-card .trezo-card-content .invoice-info {
    padding: 17px;
    margin-bottom: 17px;
  }
  .edit-invoice-card .trezo-card-content .invoice-info div span.title {
    margin-bottom: 17px;
  }
  .edit-invoice-card .trezo-card-content .invoice-info button {
    top: 0;
    right: 0;
    margin-top: 15px;
    position: relative;
  }
  .edit-invoice-card .trezo-card-content .basic-table {
    margin-bottom: 17px;
  }
  .edit-invoice-card.component-rtl-enabled .trezo-card-content .invoice-info button {
    right: auto;
    left: 0;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .edit-invoice-card .trezo-card-content .invoice-info {
    padding: 20px;
    margin-bottom: 20px;
  }
  .edit-invoice-card .trezo-card-content .invoice-info div span.title {
    margin-bottom: 20px;
  }
  .edit-invoice-card .trezo-card-content .invoice-info button {
    margin-top: 17px;
  }
  .edit-invoice-card .trezo-card-content .basic-table {
    margin-bottom: 20px;
  }
}
/* Min width 768px to Max width 991px */
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=edit-invoice.component.css.map */