<div
    class="sign-up-area"
>
    <div
        class="trezo-form mx-auto"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/sign-in.jpg" alt="sign-in-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <!--<div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>-->
                    <div class="title">
                        <h1 class="fw-semibold">
                            Welcome!
                        </h1>
                        <p class="fw-medium">
                            Sign In with your details
                        </p>
                    </div>

                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">Full Name</label>
                            <input
                                [(ngModel)]="user.name"
                                name="name"
                                type="text"
                                class="form-control"
                                placeholder="Enter your full name"
                            />
                            <small *ngIf="errors['name']" class="form-text text-danger">{{ errors['name'] }}</small>
                        </div>

                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">Phone Number</label>
                            <input
                                [(ngModel)]="user.cell"
                                name="name"
                                type="text"
                                class="form-control"
                                placeholder="Enter your phone number"
                            />
                            <small *ngIf="errors['cell']" class="form-text text-danger">{{ errors['cell'] }}</small>
                        </div>

                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">Username</label>
                            <input
                                [(ngModel)]="user.username"
                                name="email"
                                type="email"
                                class="form-control"
                                placeholder="John101"
                            />
                            <small *ngIf="errors['username']" class="form-text text-danger">{{ errors['username'] }}</small>
                        </div>

                        <div class="form-group position-relative">
                            <label class="main-label d-block fw-medium text-black">
                                Password
                            </label>
                            <input [(ngModel)]="user.password" name="password" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Type password">
                            <button type="button" (click)="togglePasswordVisibility()" class="icon-button p-0 border-0 bg-transparent transition">
                                <i [ngClass]="isPasswordVisible ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                            </button>
                        </div>
                        <small *ngIf="errors['password']" class="form-text text-danger">{{ errors['password'] }}</small>

                        <button
                            type="button"
                            (click)="signUp()"
                            class="btn-box d-block w-100 border-0 transition fw-medium border-radius"
                            [disabled]="isLoading"
                        >
                            <span *ngIf="!isLoading">Sign Up</span>
                            <span *ngIf="isLoading">Please wait...</span>
                        </button>
                    </form>
                    <p class="info">
                        Already have an account? <a routerLink="/authentication/" class="fw-semibold text-primary">Sign
                        In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
