<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Stacked Column Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [dataLabels]="chartOptions.dataLabels!"
            [plotOptions]="chartOptions.plotOptions!"
            [responsive]="chartOptions.responsive!"
            [grid]="chartOptions.grid!"
            [xaxis]="chartOptions.xaxis!"
            [yaxis]="chartOptions.yaxis!"
            [colors]="chartOptions.colors!"
            [legend]="chartOptions.legend!"
            [fill]="chartOptions.fill!"
        ></apx-chart>
    </div>
</div>