.pricing-style-2-card {
  padding-left: 35px;
  padding-right: 35px;
}
.pricing-style-2-card .trezo-card-content {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pricing-style-2-card .trezo-card-content .title span {
  color: #8695AA;
  padding: 6.5px 17.3px;
  border: 1px solid var(--borderColor);
}
.pricing-style-2-card .trezo-card-content .price {
  font-size: 36px;
  letter-spacing: -1px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.pricing-style-2-card .trezo-card-content .price span {
  font-size: 16px;
  letter-spacing: normal;
}
.pricing-style-2-card .trezo-card-content .features-list {
  margin-top: 28px;
}
.pricing-style-2-card .trezo-card-content .features-list li {
  padding-left: 39px;
  margin-bottom: 16px;
}
.pricing-style-2-card .trezo-card-content .features-list li i {
  left: 0;
  top: 50%;
  position: absolute;
  color: var(--successColor);
  transform: translateY(-50%);
}
.pricing-style-2-card .trezo-card-content .features-list li:last-child {
  margin-bottom: 0;
}
.pricing-style-2-card .trezo-card-content .popular {
  top: -9px;
  right: -17px;
  position: absolute;
}
.pricing-style-2-card .trezo-card-content .btn-box {
  font-size: 16px;
  margin-top: 20px;
  padding: 12px 25px;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}
.pricing-style-2-card .trezo-card-content .btn-box span {
  padding-left: 25px;
}
.pricing-style-2-card .trezo-card-content .btn-box span i {
  left: 0;
  top: 50%;
  font-size: 16px;
  position: absolute;
  transform: translateY(-50%);
}
.pricing-style-2-card .trezo-card-content .btn-box:hover {
  background-color: var(--secondaryColor);
}

.component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li {
  padding-left: 0;
  padding-right: 39px;
}
.component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li i {
  left: auto;
  right: 0;
}
.component-rtl-enabled .pricing-style-2-card .trezo-card-content .popular {
  right: auto;
  left: -17px;
}
.component-rtl-enabled .pricing-style-2-card .trezo-card-content .btn-box span {
  padding-left: 0;
  padding-right: 25px;
}
.component-rtl-enabled .pricing-style-2-card .trezo-card-content .btn-box span i {
  left: auto;
  right: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .pricing-style-2-card {
    padding-left: 17px;
    padding-right: 17px;
  }
  .pricing-style-2-card .trezo-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .pricing-style-2-card .trezo-card-content .title span {
    padding: 6px 15px;
  }
  .pricing-style-2-card .trezo-card-content .price {
    font-size: 26px;
    letter-spacing: -0.5px;
    margin-top: 15px;
    margin-bottom: 13px;
  }
  .pricing-style-2-card .trezo-card-content .price span {
    font-size: 13px;
  }
  .pricing-style-2-card .trezo-card-content .features-list {
    margin-top: 20px;
  }
  .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 27px;
    margin-bottom: 13px;
  }
  .pricing-style-2-card .trezo-card-content .features-list li i {
    font-size: 20px;
  }
  .pricing-style-2-card .trezo-card-content .popular {
    top: -5px;
    right: -5px;
    width: 55px;
  }
  .pricing-style-2-card .trezo-card-content .btn-box {
    padding: 11px 25px;
    margin-top: 17px;
    font-size: 13px;
  }
  .pricing-style-2-card .trezo-card-content .btn-box span {
    padding-left: 23px;
  }
  .pricing-style-2-card .trezo-card-content .btn-box span i {
    font-size: 15px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 0;
    padding-right: 27px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .popular {
    left: -5px;
    right: auto;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .btn-box span {
    padding-left: 0;
    padding-right: 23px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pricing-style-2-card {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pricing-style-2-card {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pricing-style-2-card .trezo-card-content .price {
    font-size: 30px;
    letter-spacing: -0.5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pricing-style-2-card .trezo-card-content .price span {
    font-size: 14px;
  }
  .pricing-style-2-card .trezo-card-content .features-list {
    margin-top: 25px;
  }
  .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 35px;
    margin-bottom: 14px;
  }
  .pricing-style-2-card .trezo-card-content .btn-box {
    font-size: 14px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 0;
    padding-right: 35px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pricing-style-2-card {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pricing-style-2-card .trezo-card-content .price {
    margin-bottom: 15px;
  }
  .pricing-style-2-card .trezo-card-content .price span {
    font-size: 15px;
  }
  .pricing-style-2-card .trezo-card-content .features-list {
    margin-top: 25px;
  }
  .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 35px;
    margin-bottom: 15px;
  }
  .pricing-style-2-card .trezo-card-content .popular {
    top: -8px;
    width: 55px;
    right: -15px;
  }
  .pricing-style-2-card .trezo-card-content .btn-box {
    font-size: 15px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 0;
    padding-right: 35px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .popular {
    left: -15px;
    right: auto;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pricing-style-2-card .trezo-card-content .price {
    margin-bottom: 15px;
  }
  .pricing-style-2-card .trezo-card-content .features-list {
    margin-top: 25px;
  }
  .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 35px;
  }
  .pricing-style-2-card .trezo-card-content .popular {
    top: -8px;
    width: 55px;
    right: -15px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .features-list li {
    padding-left: 0;
    padding-right: 35px;
  }
  .component-rtl-enabled .pricing-style-2-card .trezo-card-content .popular {
    left: -15px;
    right: auto;
  }
}
/* Min width 1600px *//*# sourceMappingURL=style-2.component.css.map */