.promotions-emails-table table tbody tr td, .promotions-emails-table .table tbody tr td {
  position: relative;
  padding-top: 14.3px;
  padding-bottom: 14.3px;
}
.promotions-emails-table table tbody tr td .icon, .promotions-emails-table .table tbody tr td .icon {
  top: 2px;
  margin-left: 10px;
}
.promotions-emails-table table tbody tr td .icon i, .promotions-emails-table .table tbody tr td .icon i {
  font-size: 18px;
}
.promotions-emails-table table tbody tr td:first-child, .promotions-emails-table .table tbody tr td:first-child {
  border-left-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.promotions-emails-table table tbody tr td:last-child, .promotions-emails-table .table tbody tr td:last-child {
  border-right-width: 0;
  padding-right: 0;
  font-size: 13px;
}

.trezo-card-pagination {
  top: 25px !important;
  padding: 0 !important;
  right: 25px !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  position: absolute !important;
}
.trezo-card-pagination div ol, .trezo-card-pagination div ul {
  margin-left: 10px !important;
  margin-top: 0 !important;
}

.component-rtl-enabled .primary-emails-table table tbody tr td .icon, .component-rtl-enabled .primary-emails-table .table tbody tr td .icon {
  margin-left: 0;
  margin-right: 10px;
}
.component-rtl-enabled .primary-emails-table table tbody tr td:first-child, .component-rtl-enabled .primary-emails-table .table tbody tr td:first-child {
  border-right-width: 0;
}
.component-rtl-enabled .primary-emails-table table tbody tr td:last-child, .component-rtl-enabled .primary-emails-table .table tbody tr td:last-child {
  border-left-width: 0;
  padding-right: 20px;
  padding-left: 0;
}
.component-rtl-enabled .trezo-card-pagination {
  left: 25px !important;
  right: auto !important;
}
.component-rtl-enabled .trezo-card-pagination div ol, .component-rtl-enabled .trezo-card-pagination div ul {
  margin-left: 0 !important;
  margin-right: 10px !important;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .promotions-emails-table table tbody tr td, .promotions-emails-table .table tbody tr td {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .promotions-emails-table table tbody tr td .icon, .promotions-emails-table .table tbody tr td .icon {
    top: 2.5px;
  }
  .promotions-emails-table table tbody tr td .icon i, .promotions-emails-table .table tbody tr td .icon i {
    font-size: 17px;
  }
  .trezo-card-pagination {
    top: 0 !important;
    right: 0 !important;
    position: relative !important;
  }
  .component-rtl-enabled .primary-emails-table table tbody tr td:last-child, .component-rtl-enabled .primary-emails-table .table tbody tr td:last-child {
    padding-right: 17px;
  }
  .component-rtl-enabled .trezo-card-pagination {
    left: 0 !important;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .component-rtl-enabled .promotions-emails-table table tbody tr td:last-child, .component-rtl-enabled .promotions-emails-table .table tbody tr td:last-child {
    padding-right: 20px;
  }
}/*# sourceMappingURL=promotions-emails.component.css.map */