.event-card .trezo-card-content .image .price {
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  position: absolute;
  border-radius: 7px;
}
.event-card .trezo-card-content .image::before {
  top: 0;
  right: 0;
  width: 65px;
  content: "";
  height: 65px;
  position: absolute;
  border-radius: 0 7px 0 7px;
  background: var(--whiteColor);
}
.event-card .trezo-card-content .content {
  margin-top: 22px;
}
.event-card .trezo-card-content .content h6 {
  font-size: 18px;
  margin-bottom: 10px;
}
.event-card .trezo-card-content .content .members img {
  width: 40px;
  height: 40px;
  margin-right: -12px;
  border: 2px solid var(--borderColor);
}
.event-card .trezo-card-content .content .members img:last-child {
  margin-right: 0;
}
.event-card .trezo-card-content .content .members div {
  width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 50%;
  margin-right: -12px;
  border: 2px solid var(--whiteColor);
}
.event-card .trezo-card-content .content .members div:last-child {
  margin-right: 0;
}
.event-card .trezo-card-content .content .t-progress {
  margin-top: 20px;
}
.event-card .trezo-card-content .content .t-progress span {
  margin-bottom: 8px;
}

.component-dark-theme .event-card .trezo-card-content .image::before {
  background: #0A0E19;
}
.component-dark-theme .event-card .trezo-card-content .content .members div {
  border-color: #0A0E19;
}

.component-rtl-enabled .event-card .trezo-card-content .image .price {
  right: auto;
  left: 0;
}
.component-rtl-enabled .event-card .trezo-card-content .image::before {
  left: 0;
  right: auto;
  border-radius: 0 0 7px 0;
}
.component-rtl-enabled .event-card .trezo-card-content .content .members img {
  margin-left: -12px;
  margin-right: 0;
}
.component-rtl-enabled .event-card .trezo-card-content .content .members img:last-child {
  margin-left: 0;
}
.component-rtl-enabled .event-card .trezo-card-content .content .members div {
  margin-left: -12px;
  margin-right: 0;
}
.component-rtl-enabled .event-card .trezo-card-content .content .members div:last-child {
  margin-left: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .event-card .trezo-card-content .image .price {
    width: 55px;
    height: 55px;
    font-size: 14px;
  }
  .event-card .trezo-card-content .image::before {
    width: 60px;
    height: 60px;
  }
  .event-card .trezo-card-content .content {
    margin-top: 18px;
  }
  .event-card .trezo-card-content .content h6 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .event-card .trezo-card-content .content .members img {
    width: 38px;
    height: 38px;
    margin-right: -10px;
  }
  .event-card .trezo-card-content .content .t-progress {
    margin-top: 18px;
  }
  .component-rtl-enabled .event-card .trezo-card-content .content .members img {
    margin-left: -10px;
    margin-right: 0;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event-card .trezo-card-content .content {
    margin-top: 20px;
  }
  .event-card .trezo-card-content .content h6 {
    font-size: 16px;
  }
  .event-card .trezo-card-content .content .t-progress {
    margin-top: 20px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .event-card .trezo-card-content .content h6 {
    font-size: 17px;
  }
}
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=events-grid.component.css.map */