.team-member-card .trezo-card-content .info img {
  width: 65px;
  height: 65px;
  margin-right: 12px;
  border: 2px solid var(--borderColor);
}
.team-member-card .trezo-card-content .info .title {
  font-size: 16px;
  margin-bottom: 2px;
}
.team-member-card .trezo-card-content .info .action-buttons button, .team-member-card .trezo-card-content .info .action-buttons a {
  color: var(--primaryColor);
  margin-right: 9px;
}
.team-member-card .trezo-card-content .info .action-buttons button i, .team-member-card .trezo-card-content .info .action-buttons a i {
  font-size: 16px;
}
.team-member-card .trezo-card-content .info .action-buttons button:nth-child(2), .team-member-card .trezo-card-content .info .action-buttons a:nth-child(2) {
  color: var(--bodyColor);
}
.team-member-card .trezo-card-content .info .action-buttons button:nth-child(3), .team-member-card .trezo-card-content .info .action-buttons a:nth-child(3) {
  color: var(--dangerColor);
}
.team-member-card .trezo-card-content .info .action-buttons button:last-child, .team-member-card .trezo-card-content .info .action-buttons a:last-child {
  margin-right: 0;
}
.team-member-card .trezo-card-content ul {
  margin-top: 17px;
}
.team-member-card .trezo-card-content ul li {
  margin-bottom: 9px;
}
.team-member-card .trezo-card-content ul li:last-child {
  margin-bottom: 0;
}
.team-member-card .trezo-card-content .socials-link {
  margin-top: 18px;
}
.team-member-card .trezo-card-content .socials-link a {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}
.team-member-card .trezo-card-content .socials-link a i {
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.team-member-card .trezo-card-content .socials-link a:hover {
  transform: translateY(-4px);
}
.team-member-card .trezo-card-content .socials-link a.facebook {
  background-color: #3a559f;
}
.team-member-card .trezo-card-content .socials-link a.twitter {
  background-color: #03a9f4;
}
.team-member-card .trezo-card-content .socials-link a.linkedin {
  background-color: #007ab9;
}
.team-member-card .trezo-card-content .socials-link a.github {
  background-color: #000000;
}
.team-member-card .trezo-card-content .socials-link a:last-child {
  margin-right: 0;
}

.component-rtl-enabled .team-member-card .trezo-card-content .info img {
  margin-right: 0;
  margin-left: 12px;
}
.component-rtl-enabled .team-member-card .trezo-card-content .info .action-buttons button, .component-rtl-enabled .team-member-card .trezo-card-content .info .action-buttons a {
  margin-right: 0;
  margin-left: 9px;
}
.component-rtl-enabled .team-member-card .trezo-card-content .info .action-buttons button:last-child, .component-rtl-enabled .team-member-card .trezo-card-content .info .action-buttons a:last-child {
  margin-left: 0;
}
.component-rtl-enabled .team-member-card .trezo-card-content .socials-link a {
  margin-left: 10px;
  margin-right: 0;
}
.component-rtl-enabled .team-member-card .trezo-card-content .socials-link a:last-child {
  margin-left: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .team-member-card .trezo-card-content .info img {
    width: 60px;
    height: 60px;
  }
  .team-member-card .trezo-card-content .info .title {
    font-size: 14px;
  }
  .team-member-card .trezo-card-content ul {
    margin-top: 12px;
  }
  .team-member-card .trezo-card-content .socials-link {
    margin-top: 15px;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-member-card .trezo-card-content .info img {
    width: 60px;
    height: 60px;
  }
  .team-member-card .trezo-card-content .info .title {
    font-size: 15px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=team-members.component.css.map */