<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Floor
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Project Management
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Create Floor
        </li>
    </ol>
</div>

<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Create Floor
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <form (ngSubmit)="save()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Floor Name
                        </label>
                        <select class="form-select" [(ngModel)]="floor.name" name="name">
                            <option *ngFor="let option of floorNameOptions" [value]="option.value">
                                {{ option.label }}
                            </option>
                        </select>
                        <small *ngIf="errors['name']" class="form-text text-danger">{{ errors['name'] }}</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Building
                        </label>
                        <select class="form-select" [(ngModel)]="floor.building.id" name="name">
                            <option *ngFor="let building of buildings" [value]="building.id">
                                {{ building.name }}
                            </option>
                        </select>
                        <small *ngIf="errors['building']" class="form-text text-danger">{{ errors['building'] }}</small>
                    </div>
                </div>
            </div>
            <div class="form-btn-box">
                <button type="submit" class="primary d-inline-block fw-medium border-radius border-0 transition">
                    <span class="d-inline-block position-relative">
                        <i class="material-symbols-outlined">
                            add
                        </i>
                        Create Floor
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
