<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Transactions
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Accounting
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Transactions
        </li>
    </ol>
</div>

<!-- Transactions List -->
<div class="transactions-list-card trezo-card table-style-two mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                All Transactions
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <button class="add-btn d-inline-block transition fw-medium border-radius"
                    type="button"
                    (click)="downloadPDF()">
                <span class="d-inline-block position-relative">
                    <i class="material-symbols-outlined">download</i>
                    Download PDF
                </span>
            </button>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th scope="col" class="fw-medium"> SL</th>
                    <th scope="col" class="fw-medium"> Amount</th>
                    <th scope="col" class="fw-medium"> Transaction Date</th>
                    <th scope="col" class="fw-medium"> Group Transaction ID</th>
                    <th scope="col" class="fw-medium"> Particular</th>
                    <th scope="col" class="fw-medium"> Type</th>
                    <th scope="col" class="fw-medium"> Account</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of transactions; let i = index">
                    <td class="text-body"> {{ i + 1 }}</td>
                    <td class="text-body"> {{ transaction.amount }}</td>
                    <td class="text-body"> {{ transaction.date | date }}</td>
                    <td class="text-body"> {{ transaction.groupTransactionId }}</td>
                    <td class="text-body"> {{ transaction.particular }}</td>
                    <td class="text-body"> {{ transaction.type }}</td>
                    <td class="text-body"> {{ transaction.account.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="trezo-card-pagination">
            <div class="d-md-flex align-items-center justify-content-between">
                <p class="mb-0">
                    Showing {{ transactions.length }} of {{ transactions.length }} result(s)
                </p>
                <ol class="list-unstyled mb-0 p-0">
                    <li class="d-inline-block">
                        <a class="prev" routerLink=".">
                            <span class="opacity-0">
                                0
                            </span>
                            <i class="material-symbols-outlined">
                                chevron_left
                            </i>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink="." class="active">
                            1
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            2
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            3
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            4
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a class="next" routerLink=".">
                            <span class="opacity-0">
                                0
                            </span>
                            <i class="material-symbols-outlined">
                                chevron_right
                            </i>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
