.welcome-card .trezo-card-content {
  position: relative;
  padding-right: 235px;
}
.welcome-card .trezo-card-content .content {
  padding-top: 5px;
  padding-bottom: 5px;
}
.welcome-card .trezo-card-content .content h5 {
  margin-bottom: 3px;
}
.welcome-card .trezo-card-content .content h5 span {
  color: #FFCEA9;
}
.welcome-card .trezo-card-content .content p {
  color: #D5D9E2;
}
.welcome-card .trezo-card-content .content .border-top {
  --bs-border-color: #757DFF;
  margin-top: 30px;
  margin-bottom: 33px;
}
.welcome-card .trezo-card-content .content .item {
  margin-right: 40px;
}
.welcome-card .trezo-card-content .content .item .icon {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.welcome-card .trezo-card-content .content .item .title {
  font-size: 16px;
}
.welcome-card .trezo-card-content .content .item span {
  color: #D5D9E2;
}
.welcome-card .trezo-card-content .content .item:last-child {
  margin-right: 0;
}
.welcome-card .trezo-card-content .image {
  top: 50%;
  right: 0;
  position: absolute;
  max-width: 208.04px;
  transform: translateY(-50%);
}
.welcome-card.component-rtl-enabled .trezo-card-content {
  padding-right: 0;
  padding-left: 235px;
}
.welcome-card.component-rtl-enabled .trezo-card-content .content .item {
  margin-left: 40px;
  margin-right: 0;
}
.welcome-card.component-rtl-enabled .trezo-card-content .content .item .icon {
  margin-right: 0;
  margin-left: 12px;
}
.welcome-card.component-rtl-enabled .trezo-card-content .content .item:last-child {
  margin-left: 0;
}
.welcome-card.component-rtl-enabled .trezo-card-content .image {
  right: auto;
  left: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .welcome-card .trezo-card-content {
    padding-right: 0;
  }
  .welcome-card .trezo-card-content .content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .welcome-card .trezo-card-content .content h5 {
    margin-bottom: 5px;
  }
  .welcome-card .trezo-card-content .content .border-top {
    margin-top: 15px;
    margin-bottom: 17px;
  }
  .welcome-card .trezo-card-content .content .item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .welcome-card .trezo-card-content .content .item .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .welcome-card .trezo-card-content .content .item .title {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .welcome-card .trezo-card-content .content .item:last-child {
    margin-bottom: 0;
  }
  .welcome-card .trezo-card-content .image {
    top: 0;
    max-width: 100%;
    margin-top: 20px;
    position: relative;
    transform: translateY(0);
  }
  .welcome-card.component-rtl-enabled .trezo-card-content {
    padding-left: 0;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content .content .item {
    margin-left: 0;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content .content .item .icon {
    margin-right: 0;
    margin-left: 10px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .welcome-card .trezo-card-content {
    padding-right: 185px;
  }
  .welcome-card .trezo-card-content .image {
    top: 50%;
    max-width: 180px;
    position: absolute;
    transform: translateY(-50%);
  }
  .welcome-card.component-rtl-enabled .trezo-card-content {
    padding-right: 0;
    padding-left: 185px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-card .trezo-card-content {
    padding-right: 220px;
  }
  .welcome-card .trezo-card-content .content .border-top {
    margin-top: 20px;
    margin-bottom: 22px;
  }
  .welcome-card .trezo-card-content .content .item {
    margin-right: 30px;
  }
  .welcome-card .trezo-card-content .content .item .title {
    font-size: 15px;
  }
  .welcome-card .trezo-card-content .image {
    max-width: 190px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content {
    padding-right: 0;
    padding-left: 220px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content .content .item {
    margin-right: 0;
    margin-left: 30px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .welcome-card .trezo-card-content {
    padding-right: 200px;
  }
  .welcome-card .trezo-card-content .content .item {
    margin-right: 30px;
  }
  .welcome-card .trezo-card-content .image {
    max-width: 190px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content {
    padding-right: 0;
    padding-left: 200px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content .content .item {
    margin-right: 0;
    margin-left: 30px;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .welcome-card .trezo-card-content {
    padding-right: 185px;
  }
  .welcome-card .trezo-card-content .content .item {
    margin-right: 20px;
  }
  .welcome-card .trezo-card-content .image {
    max-width: 180px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content {
    padding-right: 0;
    padding-left: 185px;
  }
  .welcome-card.component-rtl-enabled .trezo-card-content .content .item {
    margin-right: 0;
    margin-left: 20px;
  }
}
/* Min width 1600px *//*# sourceMappingURL=welcome.component.css.map */