<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isSidebarToggled}"
    [class.card-borderd]="themeService.isCardBordered()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.component-dark-theme]="themeService.isDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
>
    <div class="logo bg-white">
        <a routerLink="/dashboard" class="d-flex align-items-center position-relative">
            <img src="images/logo-icon.svg" alt="logo-icon">
            <span class="fw-bold text-black position-relative">
                CREMS
            </span>
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu transition"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar transition d-block bg-black"></span>
        <span class="middle-bar transition d-block bg-black"></span>
        <span class="bottom-bar transition d-block bg-black"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <div class="accordion">
                    <span class="sub-title d-block fw-medium text-uppercase">
                        MAIN
                    </span>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            routerLink="/dashboard/"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                dashboard
                            </i>
                            <span class="title">
                                Dashboard
                            </span>
                        </button>
                    </div>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        CORE
                    </span>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            (click)="toggleSection(6)"
                            [ngClass]="{ 'open': isSectionOpen(6) }"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                build
                            </i>
                            <span class="title">
                                Construction
                            </span>
                        </button>
                        <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(6) }">
                            <div class="accordion-body">
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/project/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Projects
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/project/buildings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Buildings
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/project/floors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Floors
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/project/units" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Units
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/project/all-stages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            All Stages
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/workers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Workers
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/raw-materials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Raw Materials
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            (click)="toggleSection(12)"
                            [ngClass]="{ 'open': isSectionOpen(12) }"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                person
                            </i>
                            <span class="title">
                                HR
                            </span>
                        </button>
                        <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(12) }">
                            <div class="accordion-body">
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Users List
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        ACCOUNTING
                    </span>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            (click)="toggleSection(5)"
                            [ngClass]="{ 'open': isSectionOpen(5) }"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                money
                            </i>
                            <span class="title">
                                Accounting
                            </span>
                        </button>
                        <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(5) }">
                            <div class="accordion-body">
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Accounts
                                        </a>
                                    </li>
                                </ul>
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Transactions
                                        </a>
                                    </li>
                                </ul>
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/income-statement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Income Statement
                                        </a>
                                    </li>
                                </ul>
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/cash-flow" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Cash Flow
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        MARKETING
                    </span>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            (click)="toggleSection(88)"
                            [ngClass]="{ 'open': isSectionOpen(88) }"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                handshake
                            </i>
                            <span class="title">
                                Marketing
                            </span>
                        </button>
                        <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(88) }">
                            <div class="accordion-body">
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/marketing/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Customers
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/marketing/campaigns" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Campaigns
                                        </a>
                                    </li>
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/marketing/leads" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Leads
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        REPORTING
                    </span>
                    <div class="accordion-item border-radius border-0">
                        <button
                            type="button"
                            (click)="toggleSection(88)"
                            [ngClass]="{ 'open': isSectionOpen(88) }"
                            class="accordion-button d-block text-start shadow-none fw-medium border-0 transition border-radius"
                        >
                            <i class="material-symbols-outlined">
                                list
                            </i>
                            <span class="title">
                                Reports
                            </span>
                        </button>
                        <div class="accordion-collapse" [ngClass]="{ 'open': isSectionOpen(88) }">
                            <div class="accordion-body">
                                <ul class="sidebar-sub-menu p-0 list-unstyled mb-0">
                                    <li class="sidemenu-item">
                                        <a routerLink="/dashboard/report/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link border-radius d-block position-relative transition fw-medium">
                                            Financial
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-radius border-0">
                            <i class="material-symbols-outlined">
                                logout
                            </i>
                            <span class="title">
                                Logout
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>
