<div
    class="projects-overview-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-header d-sm-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Projects Overview
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="box bg-primary-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-primary lh-1">
                            <i class="material-symbols-outlined">
                                folder_open
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Total Projects
                            </span>
                            <h5 class="mb-0">
                                4
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-orange-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-orange lh-1">
                            <i class="material-symbols-outlined">
                                stacks
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Active Projects
                            </span>
                            <h5 class="mb-0">
                                4
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-success-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-success lh-1">
                            <i class="material-symbols-outlined">
                                assignment_turned_in
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Finished Projects
                            </span>
                            <h5 class="mb-0">
                                0
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-purple-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-purple lh-1">
                            <i class="material-symbols-outlined">
                                group
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Team Members
                            </span>
                            <h5 class="mb-0">
                                4
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
