<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Polygon Radar Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [stroke]="chartOptions.stroke!"
            [colors]="chartOptions.colors!"
            [dataLabels]="chartOptions.dataLabels!"
            [tooltip]="chartOptions.tooltip!"
            [plotOptions]="chartOptions.plotOptions!"
            [markers]="chartOptions.markers!"
            [yaxis]="chartOptions.yaxis!"
            [fill]="chartOptions.fill!"
            [title]="chartOptions.title!"
        ></apx-chart>
    </div>
</div>