.our-top-courses-card {
  overflow: hidden;
  background-color: var(--secondaryColor) !important;
}
.our-top-courses-card .trezo-card-header {
  margin-bottom: 20px;
}
.our-top-courses-card .trezo-card-content .image {
  width: 120px;
}
.our-top-courses-card .trezo-card-content .image img {
  display: inline-block;
  width: auto;
}
.our-top-courses-card .trezo-card-content .content {
  margin-left: 15px;
}
.our-top-courses-card .trezo-card-content .content .price {
  font-size: 20px;
  margin-top: 3px;
}
.our-top-courses-card .trezo-card-content .info {
  margin-top: 10px;
}
.our-top-courses-card .trezo-card-content .info .title {
  font-size: 16px;
  margin-bottom: 2px;
}
.our-top-courses-card .trezo-card-content .info ul li {
  margin-right: 17px;
}
.our-top-courses-card .trezo-card-content .info ul li::before {
  top: 50%;
  width: 4px;
  height: 4px;
  content: "";
  right: -11px;
  margin-top: 1px;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
  background: var(--whiteColor);
}
.our-top-courses-card .trezo-card-content .info ul li:last-child {
  margin-right: 0;
}
.our-top-courses-card .trezo-card-content .info ul li:last-child::before {
  display: none;
}
.our-top-courses-card .trezo-card-content .info .view-details-btn {
  margin-top: 18px;
  padding: 6px 13px;
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
}
.our-top-courses-card .trezo-card-content .info .view-details-btn span {
  padding-left: 22px;
}
.our-top-courses-card .trezo-card-content .info .view-details-btn span i {
  top: 50%;
  left: -4px;
  font-size: 22px;
  position: absolute;
  transform: translateY(-50%);
}
.our-top-courses-card::before {
  top: -80px;
  z-index: -1;
  content: "";
  right: -80px;
  width: 169px;
  height: 169px;
  position: absolute;
  border-radius: 50%;
  background: #1F64F1;
}
.our-top-courses-card::after {
  left: auto;
  top: -75px;
  content: "";
  z-index: -2;
  right: -75px;
  width: 169px;
  height: 169px;
  position: absolute;
  border-radius: 50%;
  background: #5DA8FF;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .d-flex {
  direction: rtl;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .content {
  margin-left: 0;
  margin-right: 15px;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info {
  direction: rtl;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info ul li {
  margin-right: 0;
  margin-left: 17px;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info ul li::before {
  right: auto;
  left: -11px;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info ul li:last-child {
  margin-left: 0;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info .view-details-btn span {
  padding-left: 0;
  padding-right: 22px;
}
.our-top-courses-card.component-rtl-enabled .trezo-card-content .info .view-details-btn span i {
  right: -4px;
  left: auto;
}

::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-dots {
  left: 0;
  bottom: 10px;
  position: absolute;
}
::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  background: var(--whiteColor);
  transition: var(--transition);
}
::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-dots .owl-dot:hover span, ::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-dots .owl-dot.active span {
  background: #FFAA72;
}
::ng-deep .our-top-courses-card.component-rtl-enabled .trezo-card-content .owl-theme .owl-dots {
  left: auto;
  right: 0;
}
::ng-deep .our-top-courses-card.component-rtl-enabled .trezo-card-content .owl-theme .owl-dots .owl-dot span {
  margin-left: 5px;
  margin-right: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .our-top-courses-card .trezo-card-header {
    margin-bottom: 17px;
  }
  .our-top-courses-card .trezo-card-content .image {
    width: 100px;
  }
  .our-top-courses-card .trezo-card-content .content .price {
    font-size: 18px;
  }
  .our-top-courses-card .trezo-card-content .info .title {
    font-size: 14px;
  }
  .our-top-courses-card .trezo-card-content .info .view-details-btn {
    margin-top: 17px;
  }
  ::ng-deep .our-top-courses-card .trezo-card-content .owl-theme .owl-dots {
    bottom: 10px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-top-courses-card .trezo-card-header {
    margin-bottom: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-top-courses-card .trezo-card-content .content .price {
    font-size: 19px;
  }
  .our-top-courses-card .trezo-card-content .info .title {
    font-size: 15px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=our-top-courses.component.css.map */