<div
    [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
    [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
    class="header-area bg-white border-bottom-radius transition"
    [ngClass]="{'active': isSidebarToggled, 'sticky': isSticky}"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd]="themeService.isCardBordered()"
    [class.dark-header]="themeService.isHeaderDark()"
>
    <div class="d-md-flex align-items-center justify-content-between">
        <div class="header-left-side d-flex align-items-center">
            <div
                class="burger-menu transition position-relative lh-1"
                [ngClass]="{'active': isSidebarToggled}"
                (click)="toggle()"
            >
                <i class="material-symbols-outlined">
                    menu
                </i>
            </div>
            <form class="search-box position-relative">
                <input type="text" class="input-search d-block w-100 border-radius" placeholder="Search here.....">
                <button type="submit" class="bg-transparent p-0 border-0 transition">
                    <i class="material-symbols-outlined">
                        search
                    </i>
                </button>
            </form>
        </div>
        <ul class="header-right-side d-flex align-items-center m-0 p-0 list-unstyled">
            <li class="position-relative">
                <button
                    (click)="toggleTheme()"
                    class="dark-swtich-btn bg-transparent d-inline-block p-0 border-0 lh-1 position-relative"
                >
                    <i class="material-symbols-outlined">
                        light_mode
                    </i>
                </button>
            </li>
            <li class="position-relative">
                <button
                    (click)="toggleFullscreen()"
                    class="fullscreen-btn bg-transparent transition p-0 border-0 d-inline-block position-relative lh-1"
                >
                    <i class="material-symbols-outlined">
                        {{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}
                    </i>
                </button>
            </li>
            <li class="position-relative profile-menu">
                <button
                    type="button"
                    (click)="toggleProfileDropdown()"
                    class="profile-menu-btn border-0 bg-transparent position-relative"
                >
                    <img src="images/admin.png" class="rounded-circle" alt="admin-image">
                    <span class="fw-semibold text-black">
                        Shabab
                    </span>
                </button>
                <div class="profile-menu-dropdown bg-white border-radius" *ngIf="isProfileDropdownOpen">
                    <div class="admin d-flex align-items-center">
                        <img src="images/admin.png" class="rounded-circle" alt="admin-image">
                        <div>
                            <span class="d-block text-black fw-medium">
                                Shabab Ahmed
                            </span>
                            <span class="d-block">
                                Administrator
                            </span>
                        </div>
                    </div>
                    <ul class="list p-0 mt-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/dashboard/my-profile" class="d-block position-relative">
                                <i class="material-symbols-outlined">
                                    account_circle
                                </i>
                                My Profile
                            </a>
                        </li>
                    </ul>
                    <div class="border-top"></div>
                    <ul class="list p-0 mt-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/authentication/logout" class="d-block position-relative">
                                <i class="material-symbols-outlined">
                                    logout
                                </i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="position-relative">
                <button
                    type="button"
                    class="settings-btn border-0 transition lh-1 position-relative bg-transparent p-0 d-inline-block"
                    (click)="settingsButtonToggle()"
                    [ngClass]="{'active': isToggled}"
                >
                    <i class="material-symbols-outlined">
                        settings
                    </i>
                </button>
            </li>
        </ul>
    </div>
</div>
