<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Basic Bubble Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="chart">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [xaxis]="chartOptions.xaxis!"
                [fill]="chartOptions.fill!"
                [dataLabels]="chartOptions.dataLabels!"
                [title]="chartOptions.title!"
                [legend]="chartOptions.legend!"
                [yaxis]="chartOptions.yaxis!"
                [grid]="chartOptions.grid!"
            ></apx-chart>
        </div>
    </div>
</div>