.seller-card .trezo-card-content .info .icon {
  margin-right: 15px;
}
.seller-card .trezo-card-content .info .title {
  font-size: 16px;
  margin-bottom: 2px;
}
.seller-card .trezo-card-content .info .dot-menu {
  font-size: 26px;
  margin-right: -2px;
  color: var(--bodyColor);
}
.seller-card .trezo-card-content .info .dot-menu:hover {
  color: var(--primaryColor);
}
.seller-card .trezo-card-content .info .dropdown-menu {
  right: 0;
  top: 100%;
  left: auto;
  width: 195px;
  padding: 15px 0;
}
.seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item i {
  top: 50%;
  left: 20px;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}
.seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item::before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  position: absolute;
  transform: scaleY(0);
  transition: var(--transition);
  background: var(--primaryColor);
}
.seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item.with-icon {
  padding-left: 47px;
  padding-right: 20px;
}
.seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item:hover::before {
  transform: scaleY(1);
}
.seller-card .trezo-card-content .list {
  margin-top: 20px;
}
.seller-card .trezo-card-content .list li {
  margin-bottom: 10px;
}
.seller-card .trezo-card-content .list li:last-child {
  margin-bottom: 0;
}
.seller-card .trezo-card-content .action-buttons button, .seller-card .trezo-card-content .action-buttons a {
  color: var(--primaryColor);
  margin-right: 9px;
}
.seller-card .trezo-card-content .action-buttons button i, .seller-card .trezo-card-content .action-buttons a i {
  font-size: 16px;
}
.seller-card .trezo-card-content .action-buttons button:nth-child(2), .seller-card .trezo-card-content .action-buttons a:nth-child(2) {
  color: var(--bodyColor);
}
.seller-card .trezo-card-content .action-buttons button:nth-child(3), .seller-card .trezo-card-content .action-buttons a:nth-child(3) {
  color: var(--dangerColor);
}
.seller-card .trezo-card-content .action-buttons button:last-child, .seller-card .trezo-card-content .action-buttons a:last-child {
  margin-right: 0;
}
.seller-card .trezo-card-content form {
  margin-top: 20px;
}
.seller-card .trezo-card-content form .form-group {
  margin-bottom: 15px;
}

.component-rtl-enabled .seller-card .trezo-card-content .info .icon {
  margin-right: 0;
  margin-left: 15px;
}
.component-rtl-enabled .seller-card .trezo-card-content .info .dot-menu.dot-menu {
  margin-right: 0;
  margin-left: -2px;
}
.component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu {
  right: auto;
  left: 0;
}
.component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item i {
  left: auto;
  right: 20px;
}
.component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item::before {
  left: auto;
  right: 0;
}
.component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item.with-icon {
  padding-left: 20px;
  padding-right: 47px;
}
.component-rtl-enabled .seller-card .trezo-card-content .action-buttons button, .component-rtl-enabled .seller-card .trezo-card-content .action-buttons a {
  margin-right: 0;
  margin-left: 9px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .seller-card .trezo-card-content .info .title {
    font-size: 14px;
  }
  .seller-card .trezo-card-content .info .dropdown-menu {
    width: 150px;
    padding: 10px 0;
  }
  .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item i {
    left: 20px;
    font-size: 20px;
  }
  .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item.with-icon {
    padding-left: 47px;
    padding-right: 20px;
  }
  .seller-card .trezo-card-content .list {
    margin-top: 17px;
  }
  .seller-card .trezo-card-content form {
    margin-top: 17px;
  }
  .component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item i {
    left: auto;
    right: 20px;
  }
  .component-rtl-enabled .seller-card .trezo-card-content .info .dropdown-menu li .dropdown-item.with-icon {
    padding-left: 20px;
    padding-right: 47px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .seller-card .trezo-card-content .list {
    margin-top: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .seller-card .trezo-card-content .info .title {
    font-size: 15px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=e-seller-details.component.css.map */