.faq-accordion.accordion {
  max-width: 738px;
}
.faq-accordion.accordion .accordion-item {
  margin-bottom: 15px;
  color: var(--blackColor);
  background-color: var(--whiteColor);
}
.faq-accordion.accordion .accordion-item .accordion-button {
  color: var(--blackColor);
  padding: 13px 25px;
  font-size: 16px;
}
.faq-accordion.accordion .accordion-item .accordion-button::after {
  top: 50%;
  right: 25px;
  position: absolute;
  transform: translateY(-50%);
}
.faq-accordion.accordion .accordion-item .accordion-button.open::after {
  transform: translateY(-50%) rotate(180deg);
}
.faq-accordion.accordion .accordion-item .accordion-collapse {
  display: none;
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body {
  padding-top: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body p {
  line-height: 1.7;
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ol, .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ul {
  padding-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ol li, .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ul li {
  line-height: 1.6;
  margin-bottom: 7px;
  color: var(--bodyColor);
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ol li:last-child, .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ul li:last-child {
  margin-bottom: 0;
}
.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ol:last-child, .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ul:last-child {
  margin-bottom: 0;
}
.faq-accordion.accordion .accordion-item .accordion-collapse.open {
  display: block;
}
.faq-accordion.accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.component-dark-theme.faq-accordion.accordion .accordion-item {
  color: var(--whiteColor);
  background-color: #15203c;
}
.component-dark-theme.faq-accordion.accordion .accordion-item .accordion-button {
  color: var(--whiteColor);
}

.component-rtl-enabled.faq-accordion.accordion .accordion-item .accordion-button::after {
  right: auto;
  left: 25px;
}
.component-rtl-enabled.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ol, .component-rtl-enabled.faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body ul {
  padding-left: 0;
  padding-right: 18px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .faq-accordion.accordion {
    max-width: 100%;
  }
  .faq-accordion.accordion .accordion-item .accordion-button {
    padding: 12px 17px;
    font-size: 14px;
  }
  .faq-accordion.accordion .accordion-item .accordion-button::after {
    right: 17px;
  }
  .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .faq-accordion.accordion .accordion-item .accordion-button {
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-accordion.accordion .accordion-item .accordion-collapse .accordion-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-accordion.accordion {
    max-width: 100%;
  }
  .faq-accordion.accordion .accordion-item .accordion-button {
    font-size: 15px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=fp-faq.component.css.map */