<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Invoice
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Project
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Invoice
        </li>
    </ol>
</div>
<!-- Account Information -->
<div class="account-info-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Account Information
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="fw-medium"> Account Name </th>
                        <th scope="col" class="fw-medium"> Account Number </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-body"> {{ transactions[0].account.name }} </td>
                        <td class="text-body"> {{ transactions[0].account.number }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Transactions -->
<div class="transactions-card trezo-card table-style-two mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Transactions
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="fw-medium"> SL </th>
                        <th scope="col" class="fw-medium"> Date </th>
                        <th scope="col" class="fw-medium"> Particular </th>
                        <th scope="col" class="fw-medium"> Amount </th>
                        <th scope="col" class="fw-medium"> Transaction Reference </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions; let i = index">
                        <td class="text-body"> {{ i + 1 }} </td>
                        <td class="fw-medium"> {{ transaction.transactionDate }} </td>
                        <td class="fw-medium"> {{ transaction.particular }} </td>
                        <td class="text-body"> {{ transaction.amount }} </td>
                        <td class="text-body"> {{ transaction.groupTransactionId }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
