.profile-card .trezo-card-content .cover-image .update-cover-photo-menu {
  right: 28px;
  bottom: 28px;
  position: absolute;
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .button {
  padding: 8.5px 16px;
  color: var(--whiteColor);
  background-color: transparent;
  border: 1px solid var(--whiteColor);
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu {
  right: 0;
  top: 100%;
  left: auto;
  width: 195px;
  padding: 15px 0;
  margin-top: 10px;
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item i {
  top: 50%;
  left: 20px;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item::before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  position: absolute;
  transform: scaleY(0);
  transition: var(--transition);
  background: var(--primaryColor);
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item.with-icon {
  padding-left: 47px;
  padding-right: 20px;
}
.profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item:hover::before {
  transform: scaleY(1);
}
.profile-card .trezo-card-content .profile-content {
  margin-top: -60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}
.profile-card .trezo-card-content .profile-content .image {
  width: 160px;
}
.profile-card .trezo-card-content .profile-content .image .profile-image {
  border: 2px solid var(--whiteColor);
}
.profile-card .trezo-card-content .profile-content .image .verified {
  right: -7px;
  bottom: 11px;
  position: absolute;
}
.profile-card .trezo-card-content .profile-content .title {
  margin-left: 30px;
}
.profile-card .trezo-card-content .profile-content .title span {
  font-size: 24px;
}
.profile-card .trezo-card-content .profile-content .title span:not(:first-child) {
  font-size: 16px;
}
.profile-card .trezo-card-content .profile-content .btn-box .button {
  font-size: 16px;
  padding: 11px 27px;
  color: var(--bodyColor);
  background-color: transparent;
  border: 1px solid var(--borderColor);
}
.profile-card .trezo-card-content .profile-content .btn-box .button i {
  font-size: 20px;
  margin-right: 8px;
}
.profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu {
  right: 0;
  top: 100%;
  left: auto;
  width: 195px;
  padding: 15px 0;
  margin-top: 10px;
}
.profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item i {
  top: 50%;
  left: 20px;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}
.profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item::before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  position: absolute;
  transform: scaleY(0);
  transition: var(--transition);
  background: var(--primaryColor);
}
.profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item.with-icon {
  padding-left: 47px;
  padding-right: 20px;
}
.profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item:hover::before {
  transform: scaleY(1);
}
.profile-card .trezo-card-content .profile-content .btn-box .share-profile-menu {
  margin-left: 12px;
}
.profile-card .trezo-card-content .profile-content .btn-box .share-profile-menu .button {
  color: var(--whiteColor);
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
}
.profile-card.component-dark-theme .trezo-card-content .profile-content .image .profile-image {
  border-color: #0C1427;
}
.profile-card.card-without-border-radius .trezo-card-content .cover-image {
  border-radius: 0 !important;
}
.profile-card.card-without-border-radius .trezo-card-content .cover-image img {
  border-radius: 0 !important;
}
.profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu {
  right: auto;
  left: 28px;
}
.profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu {
  right: auto;
  left: 0;
}
.profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item i {
  left: auto;
  right: 20px;
}
.profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item::before {
  left: auto;
  right: 0;
}
.profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item.with-icon {
  padding-right: 47px;
  padding-left: 20px;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .image .verified {
  left: -7px;
  right: auto;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .title {
  margin-left: 0;
  margin-right: 30px;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .button i {
  margin-right: 0;
  margin-left: 8px;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu {
  right: auto;
  left: 0;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item i {
  left: auto;
  right: 20px;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item::before {
  left: auto;
  right: 0;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item.with-icon {
  padding-right: 47px;
  padding-left: 20px;
}
.profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .share-profile-menu {
  margin-left: 0;
  margin-right: 12px;
}

.profile-nav-links li {
  margin-left: 5px;
  margin-right: 5px;
}
.profile-nav-links li a {
  padding: 8.5px 15px;
  color: var(--primaryColor);
  background-color: transparent;
  border: 1px solid var(--primaryColor);
}
.profile-nav-links li a.active, .profile-nav-links li a:hover {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu {
    right: 0;
    bottom: 0;
    position: relative;
    margin-left: 17px;
    margin-top: 17px;
  }
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu .button {
    color: var(--blackColor);
    border-color: var(--blackColor);
  }
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu {
    padding: 10px 0;
    width: 150px;
    right: auto;
    left: 0;
  }
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item i {
    left: 20px;
    font-size: 20px;
  }
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item.with-icon {
    padding-left: 47px;
    padding-right: 20px;
  }
  .profile-card .trezo-card-content .profile-content {
    margin-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
  }
  .profile-card .trezo-card-content .profile-content .image .profile-image {
    border-color: #f7f7f7;
  }
  .profile-card .trezo-card-content .profile-content .title {
    margin-left: 0;
    margin-top: 12px;
  }
  .profile-card .trezo-card-content .profile-content .title span {
    font-size: 18px;
  }
  .profile-card .trezo-card-content .profile-content .title span:not(:first-child) {
    font-size: 13px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box {
    margin-top: 17px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .button {
    padding: 10px 25px;
    font-size: 13px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .button i {
    font-size: 18px;
    margin-right: 5px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu {
    right: 0;
    top: 100%;
    left: auto;
    width: 195px;
    padding: 15px 0;
    margin-top: 10px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item i {
    left: 20px;
    font-size: 20px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item.with-icon {
    padding-left: 47px;
    padding-right: 20px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .share-profile-menu {
    margin-left: 10px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu {
    left: 0;
    margin-left: 0;
    margin-right: 17px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu {
    right: 0;
    left: auto;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item i {
    left: auto;
    right: 20px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu .dropdown-menu li .dropdown-item.with-icon {
    padding-right: 47px;
    padding-left: 20px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .title {
    margin-right: 0;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .button i {
    margin-right: 0;
    margin-left: 5px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item i {
    left: auto;
    right: 20px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .dropdown-menu li .dropdown-item.with-icon {
    padding-right: 47px;
    padding-left: 20px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .btn-box .share-profile-menu {
    margin-left: 10px;
    margin-left: 0;
    margin-right: 10px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu {
    margin-left: 20px;
    margin-top: 20px;
  }
  .profile-card .trezo-card-content .profile-content {
    padding-bottom: 20px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu {
    margin-left: 0;
    margin-right: 20px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profile-card .trezo-card-content .cover-image .update-cover-photo-menu {
    right: 25px;
    bottom: 20px;
  }
  .profile-card .trezo-card-content .profile-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
  }
  .profile-card .trezo-card-content .profile-content .title {
    margin-left: 25px;
  }
  .profile-card .trezo-card-content .profile-content .title span {
    font-size: 20px;
  }
  .profile-card .trezo-card-content .profile-content .title span:not(:first-child) {
    font-size: 14px;
  }
  .profile-card .trezo-card-content .profile-content .btn-box .button {
    padding: 11px 25px;
    font-size: 14px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .cover-image .update-cover-photo-menu {
    right: auto;
    left: 25px;
  }
  .profile-card.component-rtl-enabled .trezo-card-content .profile-content .title {
    margin-left: 0;
    margin-right: 25px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=profile-page.component.css.map */