<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Basic Polar Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <apx-chart
            [series]="chartOptions.series!"
            [legend]="chartOptions.legend!"
            [chart]="chartOptions.chart!"
            [labels]="chartOptions.labels!"
            [grid]="chartOptions.grid!"
            [fill]="chartOptions.fill!"
            [stroke]="chartOptions.stroke!"
            [responsive]="chartOptions.responsive!"
        ></apx-chart>
    </div>
</div>