<div class="trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Brush Line Chart
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="chart">
            <apx-chart
                [series]="chartOptions1.series!"
                [chart]="chartOptions1.chart!"
                [xaxis]="chartOptions1.xaxis!"
                [dataLabels]="chartOptions1.dataLabels!"
                [colors]="chartOptions1.colors!"
                [fill]="chartOptions1.fill!"
                [grid]="chartOptions1.grid!"
                [markers]="chartOptions1.markers!"
                [stroke]="chartOptions1.stroke!"
                [yaxis]="chartOptions2.yaxis!"
            ></apx-chart>
            <apx-chart
                [series]="chartOptions2.series!"
                [chart]="chartOptions2.chart!"
                [xaxis]="chartOptions2.xaxis!"
                [grid]="chartOptions1.grid!"
                [colors]="chartOptions2.colors!"
                [fill]="chartOptions2.fill!"
                [yaxis]="chartOptions2.yaxis!"
            ></apx-chart>
        </div>
    </div>
</div>