.basic-timeline-card .trezo-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.basic-timeline-card .trezo-card-content .list li {
  padding-left: 180px;
  margin-bottom: 25px;
}
.basic-timeline-card .trezo-card-content .list li .time {
  top: 0;
  left: 0;
  width: 120px;
  font-size: 13px;
  text-align: end;
  position: absolute;
  display: inline-block;
}
.basic-timeline-card .trezo-card-content .list li .title {
  margin-bottom: 8px;
}
.basic-timeline-card .trezo-card-content .list li p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 12px;
}
.basic-timeline-card .trezo-card-content .list li .author {
  font-size: 13px;
}
.basic-timeline-card .trezo-card-content .list li .members {
  margin-bottom: 12px;
}
.basic-timeline-card .trezo-card-content .list li .members img {
  width: 40px;
  height: 40px;
  margin-right: -12px;
  border: 2px solid var(--borderColor);
}
.basic-timeline-card .trezo-card-content .list li .members img:last-child {
  margin-right: 0;
}
.basic-timeline-card .trezo-card-content .list li .members div {
  width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 50%;
  margin-right: -12px;
  border: 2px solid var(--whiteColor);
}
.basic-timeline-card .trezo-card-content .list li .members div:last-child {
  margin-right: 0;
}
.basic-timeline-card .trezo-card-content .list li::before {
  top: 3px;
  left: 144px;
  width: 12px;
  content: "";
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: #37D80A;
}
.basic-timeline-card .trezo-card-content .list li:nth-child(2)::before {
  background: var(--orangeColor);
}
.basic-timeline-card .trezo-card-content .list li:nth-child(3)::before {
  background: var(--purpleColor);
}
.basic-timeline-card .trezo-card-content .list li:nth-child(4)::before {
  background: var(--secondaryColor);
}
.basic-timeline-card .trezo-card-content .list li:last-child {
  margin-bottom: 0;
}
.basic-timeline-card .trezo-card-content .list::before {
  top: 0;
  bottom: 0;
  left: 150px;
  content: "";
  margin-top: 5px;
  position: absolute;
  border-left: 1px dashed var(--borderColor);
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li {
  padding-left: 0;
  padding-right: 180px;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .time {
  left: auto;
  right: 0;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .members img {
  margin-right: 0;
  margin-left: -12px;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .members img:last-child {
  margin-left: 0;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .members div {
  margin-left: -12px;
  margin-right: 0;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .members div:last-child {
  margin-left: 0;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list li::before {
  right: 144px;
  left: auto;
}
.basic-timeline-card.component-rtl-enabled .trezo-card-content .list::before {
  left: auto;
  right: 150px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .basic-timeline-card .trezo-card-content .list li {
    padding-left: 25px;
    margin-bottom: 25px;
  }
  .basic-timeline-card .trezo-card-content .list li .time {
    left: 0;
    width: auto;
    text-align: start;
    position: relative;
    margin-bottom: 12px;
  }
  .basic-timeline-card .trezo-card-content .list li .title {
    margin-bottom: 11px;
  }
  .basic-timeline-card .trezo-card-content .list li p {
    margin-bottom: 12px;
  }
  .basic-timeline-card .trezo-card-content .list li::before {
    left: 0;
    width: 10px;
    height: 10px;
  }
  .basic-timeline-card .trezo-card-content .list::before {
    left: 4px;
  }
  .basic-timeline-card.component-rtl-enabled .trezo-card-content .list li {
    padding-left: 0;
    padding-right: 25px;
  }
  .basic-timeline-card.component-rtl-enabled .trezo-card-content .list li .time {
    left: auto;
    right: 0;
  }
  .basic-timeline-card.component-rtl-enabled .trezo-card-content .list li::before {
    left: auto;
    right: 0;
  }
  .basic-timeline-card.component-rtl-enabled .trezo-card-content .list::before {
    left: auto;
    right: 4px;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .basic-timeline-card .trezo-card-content .list li {
    margin-bottom: 25px;
  }
}
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px */
@media only screen and (min-width: 1600px) {
  .basic-timeline-card .trezo-card-content .list li p {
    max-width: 770px;
  }
}/*# sourceMappingURL=basic.component.css.map */